<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!-- Adding InstallationTargetVersion causes the manifest's InstallationTarget to be overriden -->
		<!--<add key="InstallationTargetVersion" value="[15.0,)" />-->
		<!-- Optionally, can also specify an InstallationTargetId, which defaults to Microsoft.VisualStudio.Community -->
		<!--<add key="InstallationTargetId" value="Microsoft.VisualStudio.Community" />-->
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
	</startup>
	<system.diagnostics>
		<sources>
			<source name="*" switchValue="Verbose">
				<listeners>
					<add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
</configuration>
